.gameBox {
	width: 200px;
	height: 200px;
	
	/* min-width: 100px; */
	/* min-height: 60px; */

	border: 1px solid;

    display: block;
}
.vocabularyGameArea {
  background-color: #2196f3;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  padding: 3px;
  margin-top: 20px;
  min-width: 300px;
  display: inline-block;
}
.outerVocabularyArea {
  text-align: center;
  width: 100%;
}
.input-area {
  font-size: 30px;
  /*padding: 1.5em;*/
}
.wide-button {
  width: 100%;
}
h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.vocabularyEntry {
  width: 250px;
  height: 100px;
  border: 1px solid;
  display: block;
  padding: 2px;
  margin: 5px;
}
#correctionSpan {
  margin-bottom: 2px;
  font-size: 20px;
  font-style: italic;
}
#vocabularyList {
  display: inline;
}
#gameScore {
	font-size: 30px;
	right: 0px;
	/* width: 300px; */
	position: absolute;
	font-family: "Courier New", Courier, monospace;
}
#characterPane {
	margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 200, 200);
    width: 500px;
    /* position: absolute; */
  	font-size: 80px;
  	text-align: center;
}
#enteredTextPane {
	margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 200, 200);
    width: 500px;
    /* position: absolute; */
  	font-size: 60px;
  	text-align: center;
  	margin-top: 20px;
}
#instructionsDiv {
	margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 200, 200);
    width: 500px;
    /* position: absolute; */
  	font-size: 20px;
  	text-align: center;
  	margin-top: 10px;
}
#currentCharactersBox {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(200, 200, 200);
  width: 500px;
  /* position: absolute; */
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.alphabetPreviewSpan {
  border-style: solid;
  border-width: 1px;
  width: 50px;
  height: 140px;
  display: inline-block;
}
#drawTest {
  border: 1px solid;
}
#writeGameRomajiBox {
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
}
#writeGameCanvas {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}
.btn {
  border: 2px solid;
  width: 500px;
}
#writeGameScoreData {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  text-align: center;
}
#buttonHolder {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}